.home {
	font-family: 'Verdana';
	padding-top: 30px;
	padding-bottom: 40px;

	h1 {
		color: #3d42a9;
		font-size: 30px;
		margin-bottom: 40px;
		text-align: center;
		text-transform: uppercase;
	}

	h2 {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	.box-buttons {
		margin-bottom: 50px;
		@include transform(scale(0,0));
		@include transition(transform 300ms);
		text-align: center;

		button {
			background: #3d42a9;
			border: 1px solid #3d42a9;
			border-radius: 10px 0px 10px;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-size: 20px;
			margin-right: 2.5%;
			padding: 20px 0px;
			text-transform: uppercase;
			@include transition(color 250ms, background 250ms, border-radius 250ms);
			width: 18%;

			&:hover, &.current {
				background: #fff;
				border-radius: 0px 10px 0px;
				color: #3d42a9;
			}

			&:last-child {
				margin-right: 0px;
			}
		}

		&.show {
			@include transform(scale(1,1));
		}
	}

	.box-charts {
		height: 0px;
		position: relative;
		overflow: hidden;
		@include transition(height 100ms);
		width: 100%;
		z-index: 2;

		&.open {
			height: 480px;
		}
	}

	.contact {
		background: #fff;
		border: 2px solid #E73B53;
		border-radius: 10px;
		color: #E73B53;
		left: 50%;
		margin-left: -250px;
		overflow: hidden;
		padding-bottom: 20px;
		position: fixed;
		top: 200px;
		@include transform(scale(0,0));
		@include transition(transform 500ms);
		width: 500px;
		z-index: 4;

		button {
			background: transparent;
			border:none;
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
			padding: 10px 20px;

			&.close {
				border: none;
				right: 0px;
				padding: 5px 15px 20px;
				position: absolute;
				top: 0px;
				z-index: 2;

				i {
					display: inline-block;
					@include transition(transform 250ms);
					transform-style: preserve-3d;
					transform-origin: 50% 55%;
				}

				&:hover {
					i {
						@include transform(rotate(180deg));
					}
				}
			}

			&.submitContact {
				background: #E73B53;
				border: 1px solid #E73B53;
				border-radius: 3px;
				@include transition(background 250ms, color  400ms);

				&:hover {
					background: #fff;
					color: #E73B53;
				}
			}
		}

		form {
			padding: 0px 20px;
		}

		h2 {
			background: #E73B53;
			border-bottom: 1px solid #fff;
			color: #fff;
			font-size: 22px;
			margin-bottom: 20px;
			padding: 10px 0px;
		}

		input {
			border: 1px solid #ccc;
			border-radius: 3px;
			display: block;
			height: 30px;
			padding: 5px 10px;
			width: 100%;
		}

		label {
			display: inline-block;
			font-size: 13px;
			line-height: 25px;
			text-transform: uppercase;
			vertical-align: middle;
		}

		p {
			font-size: 14px;
			margin-bottom: 20px;
		}

		textarea {
			border: 1px solid #ccc;
			border-radius: 3px;
			display: block;
			min-height: 50px;
			max-width: 100%;
			padding: 10px;
			width: 100%;
		}

		.form-group {
			margin-bottom: 15px;
		}

		.label-danger {
			background: #cc0000;
			border-radius: 2px;
			color: #fff;
			display: inline-block;
			font-size: 10px;
			line-height: 13px;
			padding: 1px 10px 2px;
			vertical-align: middle;
		}

		.message {
			background: #fff;
			border-radius: 10px;
			color: #E73B53;
			height: 100%;
			left: 0px;
			padding-top: 40px;
			position: absolute;
			text-align: center;
			@include transition(top 300ms);
			top: -100%;
			width: 100%;

			&.open {
				top: 0px;
			}
		}

		&.open {
			@include transform(scale(1,1));
		}
	}

	.contactCall {
		text-align: center;

		button {
			background: #E73B53;
			border: 1px solid #E73B53;
			border-radius: 10px;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			padding: 10px 20px;
			@include transition(background 250ms, color  400ms);

			&:hover {
				background: #fff;
				color: #E73B53;

				i {
					font-size: 28px;
				}
			}
		}

		i {
			display: inline-block;
			font-size: 25px;
			margin-right: 10px;
			vertical-align: middle;
			@include transition(font-size 300ms);
		}

		p {
			font-size: 18px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.chart {
		left: 50%;
		margin-left: -450px;
		opacity: 0;
		position: absolute;
		top: 30px;
		@include transition(top 800ms, opacity 500ms ease-in-out);
		z-index: 0;

		&.show {
			opacity: 1;
			top: 0px;
			z-index: 1;
		}
	}

	.loader {
		opacity: 1;
		@include transition(opacity 300ms);
		z-index: 1;

		&.hide {
			opacity: 0;
			z-index: -1;
		}
	}

	&.content {
		margin: 0 auto;
		width: 940px;
	}
}

button {
	cursor: pointer;
}

strong {
	font-weight: bold;
}

.overlay {
	background: rgba(0,0,0, 0.8);
	height: 0%;
	left: 0px;
	opacity: 0;
	position: fixed;
	top: 0px;
	@include transition(height 100ms, opacity 400ms ease-in-out 100ms);
	width: 100%;
	z-index: 2;

	&.open {
		height: 100%;
	}

	&.ready {
		opacity: 1;
	}
}