<div class="content home">
	<h1>Indicadores Ecónomicos Chilenos</h1>

	<div class="box-buttons" ng-class="{show: !home.loading}">
		<button ng-repeat="button in home.ind" ng-click="home.showChart(home.data[$index][0].key);" ng-class="{current: home.chartOpen == home.data[$index][0].key}">{{ home.data[$index][0].key}}</button>
	</div>

	<div class="box-charts" ng-class="{open: home.chartOpen != ''}">
		<div class="chart {{ home.data[$index][0].key}}" ng-repeat="indicador in home.ind" ng-class="{show: home.chartOpen == home.data[$index][0].key}">
			<nvd3 options="home.options[$index]" data="home.data[$index]"></nvd3>
		</div>
	</div>

	<div class="loader" ng-class="{hide: !home.loading}">
	  <div class="dot"></div>
	  <div class="dot"></div>
	  <div class="dot"></div>
	  <div class="dot"></div>
	  <div class="dot"></div>
	  <div class="dot"></div>
	  <div class="dot"></div>
	  <div class="dot"></div>
	</div>

	<div class="contactCall">
		<button ng-click="home.openContact()"><i class="fa fa-envelope"></i> <p>¿Encontraste algún error? <strong>Contáctanos</strong></p></button>
	</div>

	<div class="contact" ng-class="{ open : contactOpen }">
		<button ng-click="home.openContact()" class="close"><i class="fa fa-close"></i></button>
		<h2>Contacto</h2>

		<form name="helpForm" novalidate role="form">
			<p>Si quieres reportar un error o entregarnos tu opinión:</p>

	    <div class="form-group">
	      <label for="name">Nombre</label>
	      <span class="label label-danger" ng-show="home.submitted && helpForm.name.$error.required">Requerido!</span>
	      <input type="text" name="name" ng-model="name" class="form-control" required />
	    </div>

	    <div class="form-group">
	      <label for="email">Email</label>
	      <span class="label label-danger" ng-show="home.submitted && helpForm.email.$error.required">Requerido!</span>
	      <span class="label label-danger" ng-show="home.submitted && helpForm.$error.email">Email inválido!</span>
	      <input type="email" name="email" ng-model="email" class="form-control" required />  
	    </div>

	    <div class="form-group">
	      <label for="comments">Cuéntanos</label>
	      <span class="label label-danger" ng-show="home.submitted && helpForm.comments.$error.required">Requerido!</span>
	      <textarea name="comments" ng-model="comments" class="form-control" required></textarea>
	    </div>

	    <button ng-click="home.submit(helpForm)" class="submitContact">Enviar</button>
	  </form>

	  <div class="message" ng-class="{open: home.loadMessage}">
	  	{{ home.messages }}
	  </div>
	</div>

	<div class="overlay" ng-class="{ open : contactOpen, ready: overlayReady }"></div>
</div>

